# BACKEND
HTTP_PORT=3000
DB_NAME="mydb"
DB_USER="user"
DB_PASSWORD="password"
DB_HOST="db"
DB_PORT=5432

# DB
DATABASE_HOST="127.0.0.1"
POSTGRES_DB="mydb"
POSTGRES_USER="user"
POSTGRES_PASSWORD="password"

# PGADMIN
PGADMIN_DEFAULT_EMAIL="test@gmail.com"
PGADMIN_DEFAULT_PASSWORD="password"
